
body{
    text-align:center;
    background-color: black;
    color: white;
}
.title{
    text-align: center;
    color: cornsilk;
}

.centerCss{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    
}
.learnCss{
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #033860;
    margin:10px;
    padding:5px;
    width: 25%;
}

.cheapBoxCss{
    order: 1;
    background-color: #087ca7;
    margin:10px;
    padding:5px;
}
.mediumBoxCss{
    order: 2;
    background-color: #087ca7;
    margin:10px;
    padding:5px;
}
.expensiveBoxCss{
    order: 3;
    background-color: #087ca7;
    margin:10px;
    padding:5px;
}


.activeCss{
    order: 2;
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #033860;
    margin:10px;
    padding:5px;
    width: 25%;
}
.firstSkillCss{
    order: 1;
    background-color: #087ca7;
    margin:10px;
    padding:5px;
}
.secondSkillCss{
    order: 2;
    background-color: #087ca7;
    margin:10px;
    padding:5px;
}
.thirdSkillCss{
    order: 3;
    background-color: #087ca7;
    margin:10px;
    padding:5px;
}



.passiveCss{
    order: 3;
    background-color: #033860;
    margin:10px;
    padding:5px;
    width: 25%;
}