@font-face {
    font-family: Title;
   src: url("./police/mrsmonster.ttf");
}
@font-face {
    font-family: TextBody;
    src: url("./police/Humongous\ of\ Eternity\ St.ttf");
}
body{
    text-align:center;
    background-color: black;
    font-family:TextBody;
    font-size: 12px;
    min-width: 775px;
}
.title{
    text-align: center;
    color: cornsilk;
    font-family: Title;
    font-size: 50px;
}
.boxCss{
    background-color: #087ca7;
    margin:10px;
    padding:5px;
}
.boxCss:hover{
    background-color: #4f96b0;
}

.centerCss{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    
}
.learnCss{
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #033860;
    margin:10px;
    padding:5px;
    width: 25%;
}

.cheapBoxCss{
    order: 1;
    
}
.mediumBoxCss{
    order: 2;
}
.expensiveBoxCss{
    order: 3;
}


.activeCss{
    order: 2;
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #033860;
    margin:10px;
    padding:5px;
    width: 25%;
}
.firstSkillCss{
    order: 1;
}
.secondSkillCss{
    order: 2;
}
.thirdSkillCss{
    order: 3;
}



.passiveCss{
    order: 3;
    background-color: #033860;
    margin:10px;
    padding:5px;
    width: 25%;
}