body{
    text-align:center;
    background-color: black;
}
.title{
    text-align: center;
    color: cornsilk;
}
.text{
    color: white;
    text-align: justify;
    margin: 50px;
}
.buttonCss{
    background-color: #492170;
    color: white;
    margin: 50px;
    padding: 10px;
    vertical-align: bottom;
}