@font-face {
    font-family: Title;
   src: url("./police/mrsmonster.ttf");
}
@font-face {
    font-family: TextBody;
    src: url("./police/Humongous\ of\ Eternity\ St.ttf");
}
body{
    text-align:center;
    background-color: black;
    color: white;
    font-family:TextBody;
    font-size: 16px;
    min-width: 775px;
}
.title{
    text-align: center;
    color: cornsilk;
    font-family: Title;
    font-size: 50px;
}

.centerView{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.recapBoxCss{
    order: 1;
    background-color: #087ca7;
    color: black;
    margin:10px;
    padding:5px;
}
.imageCss{
    order: 2;
    margin:10px;
    padding:5px;
    width: 30%;
}
.okButton{
    padding:5px;
    margin:10px;
    width: 10%;
    background-color: #492170;
}
.okButton:hover{
    background-color: #634a7c;
}